## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(101),80)
print(sample_list_1)

unique_sample_list = set(sample_list_1) 
#print(unique_sample_list)

[4, 97, 28, 70, 16, 50, 93, 80, 43, 8, 69, 88, 71, 3, 77, 74, 12, 83, 78, 75, 37, 79, 18, 31, 11, 32, 94, 89, 66, 17, 29, 2, 84, 73, 14, 76, 57, 55, 56, 87, 23, 27, 90, 36, 41, 46, 85, 5, 59, 45, 100, 54, 1, 20, 44, 72, 52, 30, 60, 51, 95, 58, 26, 13, 25, 61, 6, 39, 21, 19, 0, 98, 91, 81, 48, 64, 10, 7, 40, 99]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1) 

# Print the length of the set. Is its length still 80? NO, it is the same length
print(len(set1))
print(set1)

80
{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 23, 25, 26, 27, 28, 29, 30, 31, 32, 36, 37, 39, 40, 41, 43, 44, 45, 46, 48, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 64, 66, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 97, 98, 99, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
# Your code here
sample_list_2 = []

for x in random.sample(range(101),80):
    sample_list_2.append(x)
    
print(sample_list_2)
print(len(sample_list_2))

[11, 50, 80, 46, 15, 3, 6, 2, 75, 84, 8, 13, 39, 42, 9, 0, 49, 43, 7, 96, 4, 29, 95, 67, 5, 99, 92, 97, 69, 38, 83, 20, 54, 73, 32, 40, 1, 24, 79, 56, 86, 23, 64, 37, 14, 47, 77, 76, 63, 60, 72, 10, 51, 17, 94, 81, 26, 12, 22, 41, 74, 91, 25, 27, 66, 62, 68, 65, 93, 34, 71, 53, 31, 88, 18, 57, 100, 33, 85, 35]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here
set2 = set(sample_list_2)

#Print the length of the set. Is its length still 80? No, it is the same length
print(len(sample_list_2))
print(set2)

80
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 20, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 46, 47, 49, 50, 51, 53, 54, 56, 57, 60, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 83, 84, 85, 86, 88, 91, 92, 93, 94, 95, 96, 97, 99, 100}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [7]:
# Your code here
set3 = []

for element in set1:
    if element not in set2:
        set3.append(element)
print(len(set3))
print(set(set3))

20
{16, 19, 21, 28, 30, 36, 44, 45, 48, 52, 55, 58, 59, 61, 70, 78, 87, 89, 90, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [8]:
# Your code here
set4 = []

for element in set2:
    if element not in set1:
        set4.append(element)
print(len(set4))
print(set(set4))

20
{9, 15, 22, 24, 33, 34, 35, 38, 42, 47, 49, 53, 62, 63, 65, 67, 68, 86, 92, 96}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [9]:
# Your code here
set5 = set1.intersection(set2)

print(len(set5))
print(set(set5))

60
{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 17, 18, 20, 23, 25, 26, 27, 29, 31, 32, 37, 39, 40, 41, 43, 46, 50, 51, 54, 56, 57, 60, 64, 66, 69, 71, 72, 73, 74, 75, 76, 77, 79, 80, 81, 83, 84, 85, 88, 91, 93, 94, 95, 97, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [11]:
# Your code here

# I don't quite understand what to do in this exercise
len(set1) + len(set2) == len(set3) + len(set4)
len(set5) == len(set1)
len(set1) == len(set2)
len(set4) == len(set5)

False

#### Create an empty set called `set6`.

In [12]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [13]:
# Your code here
set3 = set(set3)

set6.update(set3,set5)
print(set6)
print(len(set6))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 23, 25, 26, 27, 28, 29, 30, 31, 32, 36, 37, 39, 40, 41, 43, 44, 45, 46, 48, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 64, 66, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 97, 98, 99, 100}
80

#### Check if `set1` and `set6` are equal.

In [14]:
# Your code here
len(set1) == len(set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [16]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [17]:
# Your code here
print(set3.union(set4,set5))
print(set3.union(set4,set5,set1,set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [18]:
# Your code here
print(set1)

set1.pop()

print(set1)

print(len(set1))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 23, 25, 26, 27, 28, 29, 30, 31, 32, 36, 37, 39, 40, 41, 43, 44, 45, 46, 48, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 64, 66, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 97, 98, 99, 100}
{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 23, 25, 26, 27, 28, 29, 30, 31, 32, 36, 37, 39, 40, 41, 43, 44, 45, 46, 48, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 64, 66, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 87, 88, 89, 90, 91, 93, 94, 95, 97, 98, 99, 100}
79

'The pop() method removes a random item from the set.'

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [19]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in list_to_remove:
    if number in list_to_remove:
        set1.remove(number)

KeyError: 9