## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [20]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [21]:
sample_list_1 = random.sample(range(101),80)
print(sample_list_1)

unique_sample_list = set(sample_list_1) 
#print(unique_sample_list)

[67, 59, 12, 50, 60, 35, 72, 28, 63, 34, 21, 49, 80, 52, 82, 70, 18, 15, 54, 45, 51, 2, 5, 37, 31, 95, 9, 64, 71, 81, 98, 13, 73, 97, 69, 11, 58, 8, 14, 57, 23, 79, 42, 85, 0, 39, 3, 29, 33, 27, 65, 1, 78, 46, 40, 53, 77, 75, 10, 41, 22, 94, 96, 61, 47, 38, 90, 86, 32, 24, 7, 43, 4, 30, 84, 76, 99, 6, 88, 26]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [22]:
set1 = set(sample_list_1) 

# Print the length of the set. Is its length still 80? NO, it is the same length
print(len(set1))
print(set1)

80
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 51, 52, 53, 54, 57, 58, 59, 60, 61, 63, 64, 65, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 88, 90, 94, 95, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [23]:
sample_list_2 = []

for x in random.sample(range(101),80):
    sample_list_2.append(x)
    
print(sample_list_2)
print(len(sample_list_2))

[42, 99, 91, 29, 89, 64, 83, 32, 81, 54, 21, 66, 45, 36, 76, 24, 50, 59, 51, 52, 97, 57, 88, 67, 98, 71, 27, 11, 78, 4, 80, 31, 33, 96, 1, 86, 70, 12, 65, 85, 58, 28, 79, 41, 93, 6, 60, 49, 56, 7, 47, 14, 10, 20, 84, 8, 94, 35, 0, 19, 74, 87, 40, 95, 16, 46, 17, 26, 75, 69, 61, 72, 43, 82, 5, 44, 18, 100, 15, 92]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [24]:
set2 = set(sample_list_2)

#Print the length of the set. Is its length still 80? No, it is the same length
print(len(sample_list_2))
print(set2)

80
{0, 1, 4, 5, 6, 7, 8, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 24, 26, 27, 28, 29, 31, 32, 33, 35, 36, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 54, 56, 57, 58, 59, 60, 61, 64, 65, 66, 67, 69, 70, 71, 72, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [25]:
set3 = []

for element in set1:
    if element not in set2:
        set3.append(element)
print(len(set3))
print(set(set3))

16
{2, 3, 34, 37, 38, 39, 9, 73, 13, 77, 53, 22, 23, 90, 30, 63}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [26]:
set4 = []

for element in set2:
    if element not in set1:
        set4.append(element)
print(len(set4))
print(set(set4))

16
{66, 36, 100, 74, 44, 16, 17, 19, 20, 83, 87, 56, 89, 91, 92, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [27]:
set5 = set1.intersection(set2)

print(len(set5))
print(set(set5))

64
{0, 1, 4, 5, 6, 7, 8, 10, 11, 12, 14, 15, 18, 21, 24, 26, 27, 28, 29, 31, 32, 33, 35, 40, 41, 42, 43, 45, 46, 47, 49, 50, 51, 52, 54, 57, 58, 59, 60, 61, 64, 65, 67, 69, 70, 71, 72, 75, 76, 78, 79, 80, 81, 82, 84, 85, 86, 88, 94, 95, 96, 97, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [37]:
# I don't quite understand what to do in this exercise
print(len(set1) + len(set2) == len(set3) + len(set4))
print(len(set5) == len(set1))
print(len(set1) == len(set2))
print(len(set4) == len(set5))

False
False
True
False

#### Create an empty set called `set6`.

In [38]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [39]:
set3 = set(set3)

set6.update(set3,set5)
print(set6)
print(len(set6))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 51, 52, 53, 54, 57, 58, 59, 60, 61, 63, 64, 65, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 88, 90, 94, 95, 96, 97, 98, 99}
80

#### Check if `set1` and `set6` are equal.

In [40]:
len(set1) == len(set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [41]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [42]:
print(set3.union(set4,set5))
print(set3.union(set4,set5,set1,set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [43]:
print(set1)

set1.pop()

print(set1)

print(len(set1))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 51, 52, 53, 54, 57, 58, 59, 60, 61, 63, 64, 65, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 88, 90, 94, 95, 96, 97, 98, 99}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 51, 52, 53, 54, 57, 58, 59, 60, 61, 63, 64, 65, 67, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 88, 90, 94, 95, 96, 97, 98, 99}
79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [47]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for number in list_to_remove:
    if number in set1:
        set1.remove(number)
print(set1)
print(len(set1))

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 18, 22, 23, 24, 26, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 42, 43, 45, 46, 47, 50, 52, 53, 54, 57, 58, 60, 63, 64, 65, 67, 70, 72, 73, 75, 76, 77, 78, 80, 82, 84, 85, 86, 88, 90, 94, 95, 96, 97, 98}
62